<cfif form.photoFile neq "">
	<cffile 
	action="upload" 
	destination="#expandPath('.')#/img/"
	filefield="photoFile"
	result="uploadResult"
	nameconflict="makeunique">	
	<cfset form['photo'] = uploadResult.serverFile />
<cfelse>
		<cfset form['photo'] = '' />
</cfif>

<cfset application.regcourse.addStudent(form) />
<cflocation url="index.cfm" addtoken="false">