<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Learn CF101</title>
</head>
<body>
<!--- test.cfm --->
<!---
<cfdump var="#cgi.local_addr#" label="Check local IP" >
--->

<cfset a = Len("Hello, World") >

<!--- GT, LT, GTE, LTE, EQ, NEQ --->
<cfif a GT 10>
    <p>ยาวกว่า 10 ตัวอักษร</p>
</cfif>


<!---
<cfdump var="#a#" label="A String Lenght">
--->

<!---
    save and run 
    http://localhost:8888/cf101/test.cfm
--->
</body>
</html>