<cfinvoke
   method="listContacts"
   returnvariable="rawXMLContactList"
   webservice="http://localhost:8888/cf201/Contacts.cfc?wsdl">
</cfinvoke>

<cfset myContacts = XmlParse(rawXMLContactList)>

<cfdump var="#myContacts#">